/*
 | Buttons
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Rambles
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

@include component(Button) {
	display:inline-block;
	background:linear-gradient(to bottom, #ca3f33, #b2483f);
	border:0;
	border-radius:3px;
	color:#fff;
	font-family:$sans-serif;
	cursor:pointer;

	&:hover {
		background:linear-gradient(to bottom, #d54f42, #b2483f);
	}

	@include option(blue) {
		background:linear-gradient(to bottom, #57b3e7, #168eda);

		&:hover {
			background:linear-gradient(to bottom, #53bbed, #168eda);
		}

	}

}