/*
 | Grid
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

/*
 | Row
 */
.row {
	display:block;

	/*
	 | Clear the floats
	 */
	&::after {
		display:table;
		content:" ";
		clear:both;
	}

}

/*
 | Alignment
 */
.tl { text-align:left; } // Left
.tc { text-align:center; } // Center
.tr { text-align:right; } // Right
.tj { text-align:justify; } // Justify

/*
 | Styling applied to all columns
 */
[class*="xs-"], [class*="sm-"], [class*="md-"], [class*="lg-"] {
	position:relative;
	padding:0 12px;

	&.no-padding {
		padding:0;
	}

}

[class*="xs-"] {
	float:left;
}

// Extra Small
.xs-12 { width: $grid-12; }
.xs-11 { width: $grid-11; }
.xs-10 { width: $grid-10; }
.xs-9 { width: $grid-9; }
.xs-8 { width: $grid-8; }
.xs-7 { width: $grid-7; }
.xs-6 { width: $grid-6; }
.xs-5 { width: $grid-5; }
.xs-4 { width: $grid-4; }
.xs-3 { width: $grid-3; }
.xs-2 { width: $grid-2; }
.xs-1 { width: $grid-1; }

.xs {
	display:block;
}

.xsi {
	display:inline;
}

.smi, .mdi, .lgi {
	display:none;
}

// Small
@media (min-width:$sm-screen) {

	.sm {
		display:block;
	}

	.smi { display:inline; }

	.sm-tl { text-align:left; } // Small Left
	.sm-tc { text-align:center; } // Small Center
	.sm-tr { text-align:right; } // Small Right
	.sm-tj { text-align:justify; } // Small Justify

	[class*="sm-"] {
		float:left;
	}

	.sm-12 { width: $grid-12; }
	.sm-11 { width: $grid-11; }
	.sm-10 { width: $grid-10; }
	.sm-9 { width: $grid-9; }
	.sm-8 { width: $grid-8; }
	.sm-7 { width: $grid-7; }
	.sm-6 { width: $grid-6; }
	.sm-5 { width: $grid-5; }
	.sm-4 { width: $grid-4; }
	.sm-3 { width: $grid-3; }
	.sm-2 { width: $grid-2; }
	.sm-1 { width: $grid-1; }

}

// Medium
@media (min-width: $md-screen) {

	.md {
		display:block;
	}

	.mdi { display:inline; }

	.md-tl { text-align:left; } // Medium Left
	.md-tc { text-align:center; } // Medium Center
	.md-tr { text-align:right; } // Medium Right
	.md-tj { text-align:justify; } // Medium Justify

	[class*="md-"] {
		float:left;
	}

	.md-12 { width: $grid-12; }
	.md-11 { width: $grid-11; }
	.md-10 { width: $grid-10; }
	.md-9 { width: $grid-9; }
	.md-8 { width: $grid-8; }
	.md-7 { width: $grid-7; }
	.md-6 { width: $grid-6; }
	.md-5 { width: $grid-5; }
	.md-4 { width: $grid-4; }
	.md-3 { width: $grid-3; }
	.md-2 { width: $grid-2; }
	.md-1 { width: $grid-1; }

}

// Large
@media (min-width: $lg-screen) {

	.lg {
		display:block;
	}

	.lgi { display:inline; }

	.lg-tl { text-align:left; } // Large Left
	.lg-tc { text-align:center; } // Large Center
	.lg-tr { text-align:right; } // Large Right
	.lg-tj { text-align:justify; } // Large Justify

	[class*="lg-"] {
		float:left;
	}

	.lg-12 { width: $grid-12; }
	.lg-11 { width: $grid-11; }
	.lg-10 { width: $grid-10; }
	.lg-9 { width: $grid-9; }
	.lg-8 { width: $grid-8; }
	.lg-7 { width: $grid-7; }
	.lg-6 { width: $grid-6; }
	.lg-5 { width: $grid-5; }
	.lg-4 { width: $grid-4; }
	.lg-3 { width: $grid-3; }
	.lg-2 { width: $grid-2; }
	.lg-1 { width: $grid-1; }

}