/*
 | Mixins
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

@mixin bg-gradient() {
	background: linear-gradient(135deg, #c51820, #ca5643, #a64a5e) fixed;
}

@mixin side-padding() {
	padding-left:12px;
	padding-right:12px;
}

@mixin container() {
	position:relative;
	width:90%;
	max-width:1300px;
	margin:auto;
}

@mixin logo() {
	font-size:4em;
	color:#f8f8f8;
	font-family:$serif;
	font-weight:500;

	span {
		font-family:$sans-serif;
	}

}

@mixin column() {
	@include side-padding();
}