/*
 | Resets
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
* {
	box-sizing:border-box;
	margin:0; padding:0;
	outline:0; border:0;
}

html, body {
	height:100%;
	width:100%;
	font-family:$sans-serif;
	background:#842f2f url(/assets/images/red-office.jpg) no-repeat center center fixed;
	background-size:cover;
}

input[type='text'], input[type='email'], input[type='date'], input[type='number'], select, textarea {
	width:100%;
	border:1px solid #dcdcdc;
	font-family:$sans-serif;
}

h1, h2, h3, h4 {
	font-family:$serif;
	font-weight:400;
}

h1, h2, h3 {
	margin:10px 0;
}

p {
	font-size:1.1em;
	line-height:1.9em;
	margin:10px 0;
}

a {
	text-decoration:none;
}
