/*
 | Settings
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
/*
 | Import Font Faces
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Noto+Serif);
/*
 | Set font vars
 */
/*
 | Configure Screen Breakpoints
 |
 | -> Large - Laptops, Desktops
 | -> Medium - Large screen tablets
 | -> Small -> iPad/Tablet Portrait
 */
/*
 | Column Widths
 */
/*
 | Mixins
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
/*
 | Resets
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #842f2f url(/assets/images/red-office.jpg) no-repeat center center fixed;
  background-size: cover; }

input[type='text'], input[type='email'], input[type='date'], input[type='number'], select, textarea {
  width: 100%;
  border: 1px solid #dcdcdc;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Noto Serif", serif;
  font-weight: 400; }

h1, h2, h3 {
  margin: 10px 0; }

p {
  font-size: 1.1em;
  line-height: 1.9em;
  margin: 10px 0; }

a {
  text-decoration: none; }

/*
 | Buttons
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Rambles
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
.Button {
  display: inline-block;
  background: linear-gradient(to bottom, #ca3f33, #b2483f);
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }
  .Button:hover {
    background: linear-gradient(to bottom, #d54f42, #b2483f); }
  .Button.\--blue {
    background: linear-gradient(to bottom, #57b3e7, #168eda); }
    .Button.\--blue:hover {
      background: linear-gradient(to bottom, #53bbed, #168eda); }

/*
 | Grid
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
/*
 | Row
 */
.row {
  display: block;
  /*
	 | Clear the floats
	 */ }
  .row::after {
    display: table;
    content: " ";
    clear: both; }

/*
 | Alignment
 */
.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tj {
  text-align: justify; }

/*
 | Styling applied to all columns
 */
[class*="xs-"], [class*="sm-"], [class*="md-"], [class*="lg-"] {
  position: relative;
  padding: 0 12px; }
  [class*="xs-"].no-padding, [class*="sm-"].no-padding, [class*="md-"].no-padding, [class*="lg-"].no-padding {
    padding: 0; }

[class*="xs-"] {
  float: left; }

.xs-12 {
  width: 100%; }

.xs-11 {
  width: 91.66666667%; }

.xs-10 {
  width: 83.33333333%; }

.xs-9 {
  width: 75%; }

.xs-8 {
  width: 66.66666667%; }

.xs-7 {
  width: 58.33333333%; }

.xs-6 {
  width: 50%; }

.xs-5 {
  width: 41.66666667%; }

.xs-4 {
  width: 33.33333333%; }

.xs-3 {
  width: 25%; }

.xs-2 {
  width: 16.66666667%; }

.xs-1 {
  width: 8.33333333%; }

.xs {
  display: block; }

.xsi {
  display: inline; }

.smi, .mdi, .lgi {
  display: none; }

@media (min-width: 768px) {
  .sm {
    display: block; }
  .smi {
    display: inline; }
  .sm-tl {
    text-align: left; }
  .sm-tc {
    text-align: center; }
  .sm-tr {
    text-align: right; }
  .sm-tj {
    text-align: justify; }
  [class*="sm-"] {
    float: left; }
  .sm-12 {
    width: 100%; }
  .sm-11 {
    width: 91.66666667%; }
  .sm-10 {
    width: 83.33333333%; }
  .sm-9 {
    width: 75%; }
  .sm-8 {
    width: 66.66666667%; }
  .sm-7 {
    width: 58.33333333%; }
  .sm-6 {
    width: 50%; }
  .sm-5 {
    width: 41.66666667%; }
  .sm-4 {
    width: 33.33333333%; }
  .sm-3 {
    width: 25%; }
  .sm-2 {
    width: 16.66666667%; }
  .sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .md {
    display: block; }
  .mdi {
    display: inline; }
  .md-tl {
    text-align: left; }
  .md-tc {
    text-align: center; }
  .md-tr {
    text-align: right; }
  .md-tj {
    text-align: justify; }
  [class*="md-"] {
    float: left; }
  .md-12 {
    width: 100%; }
  .md-11 {
    width: 91.66666667%; }
  .md-10 {
    width: 83.33333333%; }
  .md-9 {
    width: 75%; }
  .md-8 {
    width: 66.66666667%; }
  .md-7 {
    width: 58.33333333%; }
  .md-6 {
    width: 50%; }
  .md-5 {
    width: 41.66666667%; }
  .md-4 {
    width: 33.33333333%; }
  .md-3 {
    width: 25%; }
  .md-2 {
    width: 16.66666667%; }
  .md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .lg {
    display: block; }
  .lgi {
    display: inline; }
  .lg-tl {
    text-align: left; }
  .lg-tc {
    text-align: center; }
  .lg-tr {
    text-align: right; }
  .lg-tj {
    text-align: justify; }
  [class*="lg-"] {
    float: left; }
  .lg-12 {
    width: 100%; }
  .lg-11 {
    width: 91.66666667%; }
  .lg-10 {
    width: 83.33333333%; }
  .lg-9 {
    width: 75%; }
  .lg-8 {
    width: 66.66666667%; }
  .lg-7 {
    width: 58.33333333%; }
  .lg-6 {
    width: 50%; }
  .lg-5 {
    width: 41.66666667%; }
  .lg-4 {
    width: 33.33333333%; }
  .lg-3 {
    width: 25%; }
  .lg-2 {
    width: 16.66666667%; }
  .lg-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .Content {
    margin-right: 33.33333333%; }
  .Sidebar {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33333333% !important; } }

/*
 | CSStyle Components - Theme
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */
.Header {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  height: 100px; }

.Main {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.64) 0 0 30px;
  min-height: 900px; }

.logo {
  font-size: 4em;
  color: #f8f8f8;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  position: relative;
  line-height: 100px; }
  .logo span {
    font-family: "Roboto", sans-serif; }

.Sidebar {
  background: #2b2b2d;
  min-height: 200px;
  position: relative;
  width: 100%;
  padding: 0 20px; }
  .Sidebar__module {
    width: 100%;
    padding: 10px 0 20px;
    min-height: 250px;
    border-bottom: 1px solid #2e353b; }

.Heading__sidebar {
  color: #fff;
  margin: 10px 0;
  line-height: 1.8em; }
  .Heading__sidebar.\--icon::before {
    font-family: 'Linearicons';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    margin-right: 10px;
    color: #fff; }

#csstyle .\+series::before {
  content: "\e88e"; }

#csstyle .\+article::before {
  content: "\e898"; }

#csstyle .\+category::before {
  content: "\e82f"; }

.Content {
  background: #fff;
  min-height: 200px;
  position: relative; }
  .Content__main {
    padding: 30px 30px 50px 30px; }
  .Content article {
    margin: 0 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc; }
    .Content article:first-child {
      padding-top: 20px; }
    .Content article:last-child {
      border: 0; }
    .Content article header {
      border-left: 1px solid #f09216;
      padding-left: 12px; }
    .Content article h1, .Content article h3 {
      font-size: 2em; }
      .Content article h1 a, .Content article h3 a {
        color: inherit; }
    .Content article h3 {
      font-size: 1.1em;
      line-height: 1.6em;
      color: #f09216;
      font-style: italic;
      margin-bottom: 30px; }

.Banner {
  min-height: 250px;
  width: 100%;
  position: relative; }
  .Banner__image {
    background: no-repeat center center;
    background-size: cover; }
    .Banner__image.\--home {
      background-image: url(/assets/images/office-small-darker.jpg); }

.Menu {
  position: absolute;
  right: 12px;
  top: 0;
  font-family: 'Linearicons';
  font-size: 3em;
  color: #fff;
  line-height: 100px; }
  .Menu span {
    display: none; }
  .Menu::before {
    content: "\e871"; }

/*# sourceMappingURL=app.css.map */
