/*
 | Admin Theme
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Rambles
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

html, body {
	background:#e3e3e3;
}

@include component(Logo) {
	font-size:2em;
	font-weight:500;
	font-family:$serif;
	color:#fff;
	margin:0;
	line-height:60px;

	a {
		color:inherit;
	}

}

@include component(Header) {
	@include bg-gradient();
	height:60px;
	box-shadow:rgba(black, 0.14) 0 1px 4px;
	padding:0 12px;
}

.login-box {
	width:300px;
	min-height:200px;
	background:#fff;
	box-shadow:rgba(black, 0.14) 0 1px 4px;
	position:relative;
	margin:0 auto;
	top:100px;
	padding:20px;

	h1 {
		font-size:3em;
		color:#dcdcdc;
		font-family:$sans-serif;
		text-align:center;
		font-weight:500;
	}

	input {
		width:100%;
		padding:8px;
		font-size:1.1em;
		border:0;
		border-bottom:1px solid #dcdcdc;
	}

} 

.form-group {
	margin:10px 0;
}

@include component(Feedback) {
	font-size:0.9em;
	text-align:center;

	@include option(error) {
		color:#ca3f33;
	}

	@include option(success) {
		color:#65ac69;
	}

}