/*
 | Settings
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

/*
 | Import Font Faces
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Noto+Serif);

/*
 | Set font vars
 */
$sans-serif: 'Roboto', sans-serif;
$serif: 'Noto Serif', serif;

/*
 | Configure Screen Breakpoints
 |
 | -> Large - Laptops, Desktops
 | -> Medium - Large screen tablets
 | -> Small -> iPad/Tablet Portrait
 */
$lg-screen: 1200px;
$md-screen: 992px;
$sm-screen: 768px;

/*
 | Column Widths
 */
$grid-12: 100%;
$grid-11: 91.66666667%;
$grid-10: 83.33333333%;
$grid-9: 75%;
$grid-8: 66.66666667%;
$grid-7: 58.33333333%;
$grid-6: 50%;
$grid-5: 41.66666667%;
$grid-4: 33.33333333%;
$grid-3: 25%;
$grid-2: 16.66666667%;
$grid-1: 8.33333333%;