/*
 | CSStyle Components - Theme
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ramblings
 | Version: 1.0
 | Date: 20 November 2015
 | ----------------------------------------
 */

@include component(Header) {
	@include container();
	height:100px;
}

@include component(Main) {
	@include container();
	background:#fff;
	box-shadow:rgba(black, 0.64) 0 0 30px;
	min-height:900px;
}

@include component(logo) {
	@include logo();
	position:relative;
	line-height:100px;
}

@include component(Sidebar) {
	background:#2b2b2d;
	min-height:200px;
	position:relative;
	width:100%;
	padding:0 20px;

	@include part(module) {
		width:100%;
		padding:10px 0 20px;
		min-height:250px;
		border-bottom:1px solid #2e353b;
	}

}

@include component(Heading) {

	@include part(sidebar) {
		color:#fff;
		margin:10px 0;
		line-height:1.8em;

		@include option(icon) {
			&::before {
				font-family:'Linearicons';
				display:inline-block;
				width:30px; height:30px;
				position:relative;
				top:2px;
				margin-right:10px;
				color:#fff;
			}
		}

	}

}

@include tweak(series) {
	&::before {
		content:"\e88e";
	}
}

@include tweak(article) {
	&::before {
		content:"\e898";
	}
}

@include tweak(category) {
	&::before {
		content:"\e82f";
	}
}

@include component(Content) {
	background:#fff;
	min-height:200px;
	position:relative;

	@include part(main) {
		padding:30px 30px 50px 30px;
	}

	article {
		margin:0 0 20px;
		padding:20px 0;
		border-bottom:1px solid #dcdcdc;
		
		&:first-child {
			padding-top:20px;
		}

		&:last-child {
			border:0;
		}

		header {
			border-left:1px solid #f09216;
			padding-left:12px;
		}

		h1, h3 {
			font-size:2em;
			
			a {
				color:inherit;
			}

		}

		h3 {
			font-size:1.1em;
			line-height:1.6em;
			color:#f09216;
			font-style:italic;
			margin-bottom:30px;
		}

	}

}

@include component(Banner) {
	min-height:250px;
	width:100%;
	position:relative;

	@include part(image) {
		background:no-repeat center center;
		background-size:cover;

		@include option(home) {
			background-image:url(/assets/images/office-small-darker.jpg);
		}

	}

}

@include component('Menu') {
	position:absolute;
	right:12px; top:0;
	font-family:'Linearicons';
	font-size:3em;
	color:#fff;
	line-height:100px;

	span {
		display:none;
	}

	&::before {
		content: "\e871";
	}

}
