@media (min-width: $md-screen) {

	@include component(Content) {
		margin-right:$grid-4;
	}

	@include component(Sidebar) {
		position:absolute!important;
		top:0; right:0; bottom:0;
		width:$grid-4!important;
	}

}