@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,300,500);

/**
 * --------------------------------------------
 * Variables
 * --------------------------------------------
 */

 /**
 * Colours
 * --------------------------------------------
 */
$cb_red: #c51820;
$cb_sub_red: #a64a5e;
$cb_dark_red: #791c20;
$cb_grey: #2b2b2d;
$cb_light_grey: #535355;
$dark: #161618;
$light: #fff;

/**
 * Borders
 * --------------------------------------------
 */
$rad: 4px;

/**
 * Transitions
 * --------------------------------------------
 */
$ts: 0.2s; // Speed
$trans: all $ts linear; // Full Transition

/**
 * Resets
 * --------------------------------------------
 */
* {
	@include box-sizing(border-box);
	margin:0; padding:0;
	outline:0; border:0;
	font-family:'Roboto', sans-serif;
}

.btn {
	display:inline-block;
	margin:.3em;
	border:2px solid $light;
	color:$light;
	background:transparent;
	padding:.4em 1.4em;
	@include border-radius($rad);
	font-weight:700;
	cursor:pointer;
	@include transition(background $ts);
}

html, body {
	height:100%;
	width:100%;
	background:$cb_grey;
	color:$light;
}

body {
	@include transition(margin $ts, box-shadow $ts);

	&.with-menu {
		margin-top:70px;
		margin-left:-350px;
		@include box-shadow(rgba(black, 0.34) 0 0 10px inset);
	}
}

p { font-size:1.1em; line-height:1.8em; margin:.5em 0; }

a {
	text-decoration:none;
	color:inherit;
	@include transition(color $ts linear);
}

nav {
	position:fixed;
	right:0; top:100px;
	width:350px;
	padding:30px;
	overflow-y:auto;
	display:none;

	.main {

		a {
			display:block;
			padding:.5em;
			font-size:1.5em;
		}

	}

}

section {
	position:relative;

	&#home {
		display:table;
		width:100%;
		height:100%;
		text-align:center;
		color:$light;
		background:url('../images/mini/engine-on-black.jpg') no-repeat top center;
		@include background-size(cover);

		&::before {
			content:" ";
			display:block;
			position:absolute;
			top:0; right:0; bottom:0; left:0;
			background: -webkit-linear-gradient(left top, $cb_red , $cb_sub_red);
			background: -moz-linear-gradient(left top, $cb_red , $cb_sub_red);
			background: inear-gradient(left top, $cb_red , $cb_sub_red);
			z-index:0;
			@include opacity(0.9);
		}

		div {
			display:table-cell;
			vertical-align:middle;
			padding:20px 0 120px 0;
			position:relative;
			z-index:+1;
		}

		h1 {
			font-weight:500;
			font-size:6em;
			padding:.3em 0 50px;
			background:url('../images/under-shadow.png') no-repeat bottom center;
		}

		h2 {
			font-weight:300;
			font-size:2em;
		}

		p {
			margin:1.8em 0;
		}

		.btn {
			padding:0.8em 3em;
			font-size:1.2em;
			
			&:hover {
				background:$light;
				color:$cb_red;
			}

		}

	}

	&#about, &#skills, &#contact {
		h2 { text-transform:uppercase; margin:.8em 0; font-size:1.8em; }
	}

	&#about {
		min-height:350px;
		background:$dark;

		.image {
			position:absolute;
			top:0; bottom:0;
			background:url('../images/mini/code.jpg') no-repeat center center;
			@include background-size(cover);
			text-align:center;

			img {
				display:inline-block;
				margin:10% auto;
				max-width:65%; max-height:65%;
				@include border-radius(50%);
				@include box-shadow(rgba(black, 0.3) 0 0 30px);
			}

		}

		.about {
			padding:1.8em 5%;
			background:$cb_light_grey;
			min-height:350px;
			margin-left:50%;

			p {
				margin:1.2em 0;
			}

		}

	}

	&#skills {
		min-height:300px;
		padding:250px 0;
		background:url('../images/mini/office.jpg') no-repeat center center fixed;
		@include background-size(cover);

		&::before {
			position:absolute;
			top:0; bottom:0; right:0; left:0;
			background:rgba($cb_dark_red, 0.8);
			content:" ";
			z-index:0;
		}

		.dark-inner {
			background:$dark;
			padding:.4em 0;
			min-height:300px;
			z-index:4;
			position:relative;

			i {
				margin:0 10px;
			}

			[class*="col-"] {
				padding:20px;
				position:relative;

				&.design {
					padding-right:100px;
				}

				&.development {
					padding-left:100px;
				}

			}

			.ampus {
				font-size:5em;
				display:block;
				height:106px;
				position:absolute;
				left:0; right:0; top:50%;
				margin-top:-53px;
				text-align:center;
			}

		}

	}

	&#contact {
		background:$cb_grey;
		min-height:200px;

		[class*="col-"] {
			padding:30px;

			&:nth-child(1) {
				padding-left:5%;
			}

			&:nth-child(2) {
				padding-right:5%;
			}

		}

		p {

			&.limit {
				max-width:400px;
				display:inline-block;

				&::after {
					content:" ";
					clear:both;
					display:block;
				}

			}

		}

		input, textarea {
			color:$light;
		}

		input[type="submit"] {
			background:$light;
			color:$cb_grey;
			padding:.5em 2.2em;
			font-size:1.2em;
			border:1px solid $light;
			@include border-radius($rad);
			@include transition($trans);

			&:hover {
				background:$cb_grey;
				color:$light;
			}

		}

	}

}

footer {
	min-height:100px;
	background:$dark;
	padding:20px 0;

	img {
		max-height:50px;
	}

	p {
		color:#dcdcdc;
		font-size:0.9em;
	}

}

/**
 * Grid System
 * --------------------------------------------
 */
[class*="col-"] {
	float:left;
}

.row {

	&::after {
		display:table;
		clear:both;
		content:" ";
	}

}

.col-1-5 { width:20%; }
.col-2-5 { width:40%; }
.col-3-5 { width:60%; }
.col-4-5 { width:80%; }
.col-1-4 { width:25%; }
.col-3-4 { width:75%; }
.col-1-3 { width:33.33%; }
.col-2-3 { width:66.66%; }
.col-1-2 { width:50%; }

/**
 * Text Alignment
 * --------------------------------------------
 */
.txt-c { text-align:center; }
.txt-l { text-align:left; }
.txt-r { text-align:right; }
.txt-j { text-align:justify; }

.s-m { font-size:2em;
	a { margin:5px 10px; }
}

.sr { display:none; }

form {
	padding:10px;

	.form-group {
		padding:5px 0;

		input, textarea {
			font-weight:300;
		}

		input:not([type="submit"]), textarea {
			width:100%;
			background:transparent;
			border:1px solid $light;
			@include border-radius($rad);
			padding:.5em;
			font-size:1.2em;
		}

		input[type="submit"] {
			font-weight:700;
			cursor:pointer;
		}

		textarea {
			min-height:130px;
		}

	}

}

header {
	position:fixed;
	top:0; left:0; right:0;
	height:70px;
	z-index:9999;
	@include transition(background $ts);

	&.scrolled {
		background:rgba($cb_grey, 0.95);
	}

	.logo {
		height:70px;
		width:250px;
		position:absolute;
		left:30px; top:0;
		background:url('../images/signature-white.png') no-repeat center center;
		@include background-size(100% 100%);
		display:block;
	}

	.menu-toggle {
		display:block;
		position:absolute;
		right:40px; top:0; height:70px;
		font-size:3em;
		line-height:70px;
		
		&::before {
			font-family:'Linearicons';
			content:"\e871";
		}

	}

}

body.with-menu {

	.menu-toggle::before {
		content:"\e870";
	}

	header {
		background:$cb_grey;
	}

	nav {
		display:block;
	}

}

@media all and (max-width:800px) {

	.logo {
		left:5px!important; top:5px!important; height:50px!important; width:179px!important;
	}

	.menu-toggle { right:5px!important; top:5px!important; height:50px!important; line-height:50px!important; font-size:3em!important; }

	#home {

		h1 {
			font-size:3em!important;
			margin-top:80px;
		}

	}

	section#skills {
		padding:80px 0!important;
	}

	section#about, section#skills, section#contact {

		.dark-inner {
			padding:0!important;
		}

		form, form div, .s-m {
			text-align:center!important;
		}

		[class*="col-"] {
			float:none!important;
			display:block!important;
			width:100%;
			position:relative;
			margin:0;
			padding:20px;
			text-align:left;

			h2 {
				text-align:center;
				
				i {
					display:block!important;
				}

			}

			&.image {
				height:200px;
				text-align:center!important;
			}

			&.design {
				padding-right:20px!important;
			}

			&.development {
				padding-left:20px!important;
			}

		}

		.ampus { display:none!important; }

	}

}

p.feedback {
	display:none;
	color:$cb_red;
}

.show {
	display:block!important;
}



